@font-face {
    src: url('@/app/styles/fonts/Gilroy/gilroy-regular.ttf');
    font-family: 'Gilroy';
    font-weight: 400;
}

@font-face {
    src: url('@/app/styles/fonts/Gilroy/gilroy-medium.ttf');
    font-family: 'Gilroy';
    font-weight: 500;
}

@font-face {
    src: url('@/app/styles/fonts/Gilroy/gilroy-semibold.ttf');
    font-family: 'Gilroy';
    font-weight: 600;
}

@font-face {
    src: url('@/app/styles/fonts/Gilroy/gilroy-bold.ttf');
    font-family: 'Gilroy';
    font-weight: 700;
}